@model dynamic

@{
    ViewData["Title"] = "ITIL";
}

<h1>@ViewData["Title"]</h1>

<img src="https://www.servicedeskinstitute.com/wp-content/uploads/2018/02/IT-business-support-new-1024x640.jpg" alt="Service Desk" />
