@using ITIL.Data.Domain;
@model IEnumerable<ConfigurationItem>

<style>
* {
  box-sizing: border-box;
}

.user-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

body {
    background-image: url("https://www.fair-computer.de/wp-content/uploads/adobestock_280046195.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.new-incident-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        background-color: #3012a7;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .new-incident-button:hover {
        background-color: #250a91;
    }


    .login-effect {
        position: relative;
    }

     .login-spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        width: 160px; /* Adjust the width as desired */
        height: 160px; /* Adjust the height as desired */
    }

    .login-effect.login-in-progress .login-spinner {
        display: block;
    }

</style>

<div class="user-links">
    @if (User.Identity.IsAuthenticated)
    {
        <span>@User.Identity.Name</span>
    }
    <a class="volver-link" href="/ServiceDesk/Incidents">Volver</a>
</div>

<div class="container">
  <form method="post" id="incident-form">

    <div class="row">
      <div class="col-25">
         <label for="Title">Título</label>
      </div>
      <div class="col-75">
        <input type="text" id="Title" name="Title" class="form-control" placeholder="Nombre Incidencia" />
      </div>
    </div>

    @if (Model.Any())
    {
        <div class="row">
        <div class="col-25">
           <label for="ConfigItem">Item afectado:</label>
        </div>
        <div class="col-75">
            <select name="ConfigItem" id="ConfigItem">
                @foreach (var item in Model)
                {
                    <option value=@item.Id>@item.Title</option>
                }
            </select>
        </div>
        </div>
    }

    <div class="row">
      <div class="col-25">
        <label for="Description">Descripción</label>
      </div>
      <div class="col-75">
       <textarea id="Description" name="Description" class="form-control" rows="5"></textarea>
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="AssignedUser">Asignar a:</label>
      </div>
      <div class="col-75">
       <select name="AssignedUser" id="AssignedUser">
            @foreach (var user in (IEnumerable<User>)ViewBag.Users)
            {
                <option value=@user.Id>@user.Email</option>
            }
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ClientName">Nombre del Cliente</label>
      </div>
      <div class="col-75">
        <input type="text" id="ClientName" name="ClientName" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ClientEmail">Email del Cliente</label>
      </div>
      <div class="col-75">
         <input type="text" id="ClientEmail" name="ClientEmail" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="Impact">Impacto</label>
      </div>
      <div class="col-75">
        <select id="Impact" name="Impact" class="form-control">
            <option value="BAJO" selected>BAJO</option>
            <option value="MEDIO">MEDIO</option>
            <option value="ALTO">ALTO</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="Priority">Prioridad</label>
      </div>
      <div class="col-75">
        <select id="Priority" name="Priority" class="form-control">
            <option value="BAJO" selected>BAJO</option>
            <option value="MEDIO">MEDIO</option>
            <option value="ALTO">ALTO</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="TrackingNumber">Número de seguimiento</label>
      </div>
      <div class="col-75">
         <input type="text" id="TrackingNumber" name="TrackingNumber" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="RootCause">Causa raíz</label>
      </div>
      <div class="col-75">
        <textarea id="RootCause" name="RootCause" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="row">
     <button type="submit" class="new-incident-button login-effect">
        Crear
        <img class="login-spinner" src="https://icon-library.com/images/waiting-icon-gif/waiting-icon-gif-7.jpg" alt="Loading..." />
    </button>
    </div>
  </form>
</div>


<script>
    document.getElementById("incident-form").addEventListener("submit", function (e) {
        e.preventDefault();

        // Retrieve the userId from localStorage
        var userId = localStorage.getItem("user-id");

        // Check if userId is available
        if (userId) {
            localStorage.setItem("user-id", userId);
            var title = document.getElementById("Title").value;
            var description = document.getElementById("Description").value;
            var itemId = document.getElementById("ConfigItem").value;
            var trackingNumber = document.getElementById("TrackingNumber").value;
            var rootCause = document.getElementById("RootCause").value;
            var clientName = document.getElementById("ClientName").value;
            var clientEmail = document.getElementById("ClientEmail").value;
            var assignedUserId = document.getElementById("AssignedUser").value;
            var impact = document.getElementById("Impact").value;
            var priority = document.getElementById("Priority").value;

            var incident = {
                Title: title,
                Description: description,
                UserId: userId,
                ConfigurationItemId: itemId,
                TrackingNumber: trackingNumber,
                RootCause: rootCause,
                ClientName: clientName,
                ClientEmail: clientEmail,
                AssignedUserId: assignedUserId,
                Impact: impact,
                Priority: priority
            };

            // Include the userId in the request headers
            var headers = {
                "Content-Type": "application/json",
                "user-id": userId
            };

            // Show the spinner when the request is being made
            var spinner = document.querySelector(".login-spinner");
            spinner.style.display = "block";

            fetch("/ServiceDesk/SaveIncident", {
                method: "POST",
                headers: headers,
                body: JSON.stringify(incident)
            })
            .then(function (response) {
                if (response.ok) {
                    window.location.href = "/ServiceDesk/Incidents";
                } else {
                    showError("Failed to save the incident, response not ok.");
                }
                
                // Hide the spinner when the request is completed
                spinner.style.display = "none";
            })
            .catch(function () {
                showError("Failed to save the incident, function error.");

            // Hide the spinner when the request is completed
            spinner.style.display = "none";
            });
        } else {
            showError("User ID not found. Please log in again.");
        }
    });

    function showError(message) {
        var errorElement = document.createElement("p");
        errorElement.classList.add("error-message");
        errorElement.textContent = message;
        document.body.appendChild(errorElement);
    }
</script>